<!-- <template name="BuyBook">
	<div id="buy-book">
		{{> StaticTopBar}}

		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2" style="margin-top: 15px;">
					<h3>
						Masz już swoją książeczkę?
						<button class="btn btn-primary pull-right" data-toggle="dropdown" data-target="#login-dropdown-list">
							Zaloguj się!
						</button>
					</h3>
					<hr>
					<h2 class="text-center">
						
					</h2>
					<div>
						Jeżeli wciąż nie masz swojej książeczki - nic straconego. Kliknij poniżej i zdobądź swój własny dziennik z podróży, który da Ci nieograniczone możliwości przechowywania wspomnień.
					</div>
				</div>
			</div>
		</div>
	</div>
</template> -->