<template name="Hints">
	{{> StaticTopBar}}

	<div class="container" style="margin-top: 15px;">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<h3>
					<b>Autostop</b> to szczególny rodzaj podróżowania.
				</h3>
				<h4>
					Rządzi się on szczególnymi prawami. Dlatego przed wyruszeniem w podroż powinieneś poznać kilka zasad i wskazówek, które na pewno pomogą Ci odnaleźć się w tym świecie pełnym przygód i niezapomnianych wspomnień.
				</h4>
			</div>
		</div>
		<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
			<table style="width: 100%;">
				<tr>
					<td>
						<ul class="make-more-space-kurwa">
							<li>Nie stwarzaj zagrożenia na drodze. Jesteś tu tylko gościem.</li>
							<li>Złap kontakt wzrokowy i uśmiechnij się – wzbudzisz w ten sposób zaufanie kierowcy.</li>
							<li>Stań w miejscu, w którym auta nie jeżdżą szybko i gdzie istnieje możliwość bezpiecznego zatrzymania się.</li>
							<li>Zapinaj pasy bezpieczeństwa!</li>
							<li>Przedstaw się i spróbuj nawiązać rozmowę, chyba że kierowca da Ci do zrozumienia, że woli ciszę.</li>
							<li>Szanuj porządek w samochodzie.</li>
							<li>Staraj się nie zasnąć podróżując samemu.</li>
							<li>Odwdzięcz się kierowcy szczerym podziękowaniem lub Twoją osobistą naklejką.</li>
							<li>Bądź cierpliwy! Na trasie do auta pierwszy wchodzi ten, kto czekał dłużej.</li>
							<li>Buduj dobry wizerunek społeczności autostopowej wśród ludzi.</li>
						</ul>
					</td>
					<td class="text-center">
						<img src="/drawings/wskazowki2.png" style="height: 250px; width: auto;" />
					</td>
				</tr>
			</table>
		</div>
		<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
			<table style="width: 100%;">
				<tr>
					<td class="text-center">
						<img src="/drawings/wskazowki.png" style="height: 250px; width: auto;" />
					</td>
					<td>
						<ul class="make-more-space-kurwa">
							<li>Pierwsze wrażenie jest najważniejsze. Schludny wygląd przydaje się nawet podczas autostopu.</li>
							<li>Spakuj się do plecaka, ale nie bierz zbyt dużo  – unikniesz w ten sposób bólu pleców.</li>
							<li>Zawsze miej przy sobie mapę albo GPS.</li>
							<li>Napisz wyraźnie miejsce, do którego jedziesz (na kartce lub kartonie) i sprawdź, czy tekst jest widoczny z daleka.</li>
							<li>Dobre miejsca na stopowanie to ronda i wjazdy na autostradę. Kierowca będzie miał czas na reakcję.</li>
							<li>Łapiąc na stacji benzynowej podejdź do kierowcy i zapytaj o podwózkę.</li>
							<li>Unikaj podróżowania po zmroku! Jeśli jesteś zmuszony – trzymaj się stacji benzynowych.</li>
							<li>Nie odmawiaj pomocy. W końcu kierowcy Tobie też nie odmówili.</li>
							<li>Nie wsiadaj do auta, jeśli kierowca wydaje Ci się podejrzany.</li>
							<li>Jeśli nie znasz języka, skorzystaj z „listu do kierowcy” dostępnego na  Twoim profilu na <a href="www.mojautostop.pl">www.mojautostop.pl</a>.</li>
							<li>Zawsze miej przy sobie butelkę wody. Nie wiadomo ile będziesz czekać.</li>
							<li>Zapisuj swoje wspomnienia w książeczce i twórz oryginalną pamiątkę z autostopu.</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div class="row" style="margin-top: 10px; margin-bottom: 30px;">
			<div class="col-xs-8 col-xs-offset-2 text-center">
				<h3>
					Jeżeli nie znalazłeś odpowiedzi na swoje pytanie – napisz, a na pewno Ci pomożemy!
				</h3>

				<a href="mailto:tomasznowacki.j@gmail.com" class="btn btn-success btn-lg">
					Zadaj pytanie
				</a>
			</div>
		</div>
	</div>

	{{> Footer}}
</template>