@logo-text-color: rgb(60, 121, 167);
@logo-lighter-blue-color: rgb(112, 182, 228);
@logo-darker-blue-color: rgb(40, 81, 111);

@bar-red: #bd2a33;
@bar-yellow: #d6aa26;
@bar-green: #93a31c;
@bar-cyan: #408156;
@bar-navy: #30374f;