<template name="HistoryPage">
	<div id="history">
		<nav>
			<div class="navbar">
				<div class="container">
					<div class="row">
						<div class="navbar-brand">
							<img src="small_logo.png" />
						</div>
					</div>
				</div>
			</div>
		</nav>

		{{> NavAside}}

		<div class="articles">
			<article class="article-position-0">
			</article>

			<article class="article-position-1">
			</article>

			<article class="article-position-2">
				ABC KURWO!
			</article>
		</div>

		<footer>
			<table class="years">
				<tr>
					<td>
						<a class="year1956">
							1956
						</a>
					</td>
					<td>
						<a class="year1989">
							1989
						</a>
					</td>
					<td>
						<a class="year2015">
							2015
						</a>
					</td>
				</tr>
			</table>
			<div class="ruler"></div>
		</footer>
	</div>
</template>

<template name="NavAside">
	<aside>
		<a>
			<span class="glyphicon glyphicon-chevron-right">
			</span>
		</a>
	</aside>
</template>