<template name="StaticPage">
	<nav>
		<div class="navbar">
			<div class="container">
				<div class="row">
					<div class="navbar-brand">
						<img src="small_logo.png" />
					</div>
				</div>
			</div>
		</div>
	</nav>

	<header>
		<div>
			<h1>
				Podziel się swoją podróżą.
			</h1>
			<h3>
				Własnie wróciłeś z autostopowej przygody? Masz mnówstwo historii do opowiedzenia?<br>
				Dołącz do nas i stwórz XXI w. album podróży na stopa!
			</h3>
			<button>
				Zdobądź książeczkę autostopową
			</button>
		</div>
	</header>

	<div class="divider">
	</div>

	<figure class="fig1">
	</figure>

	<article>
		b
	</article>

	<figure class="fig3">
	</figure>

	<!--
	<article>
		c
	</article>
	-->
	
	<footer>
		d
	</footer>
</template>