<template name="StaticPage">
	{{> Header}}

	<article class="pos_0_0 main" id="pos_0_0">
		{{!--
		<div>
			Autostopowicze przejechali już
		</div>

		<div>
			<span>0</span>
			<span>km</span>
		</div>

		<div>
			A ty?
		</div>
		--}}
	</article>

	<article class="pos_0_1" id="pos_0_1">
		b
	</article>

	<article class="pos_1_0" id="pos_1_0">
		c
	</article>

	<article class="pos_1_1" id="pos_1_1">
		d
	</article>
</template>

<template name="Header">
	<header>
		{{> NavAside direction="left" }}
		{{> NavAside direction="right" }}
		{{> NavAside direction="up" }}
		{{> NavAside direction="down" }}
		<!--
		<img src="small_logo.png" style="width: 250px; height: auto;">
		-->
	</header>
</template>

<template name="NavAside">
	<aside class="{{ direction }}">
		<a href="#" data-direction="{{ direction }}">
			<span class="glyphicon glyphicon-chevron-{{ direction }}">
			</span>
		</a>
	</aside>
</template>