<template name="Dashboard">
	{{> StaticTopBar}}

	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<div class="container-fluid">
					{{#each mineTrips}}
						{{> PrintTrip data=this}}
					{{/each}}
					{{#if canAddTrip}}
						<div class="col-xs-3 trip">
							<div class="trip-add-new">
								<a href="#" id="trip-add-new">
									<span class="glyphicon glyphicon-plus"></span>
								</a>
							</div>
						</div>
					{{/if}}
				</div>
			</div>
			<div class="col-xs-4">
				{{> UserStats dbData=mineTrips showHelpTooltip="true"}}
			</div>
		</div>
	</div>

	<!-- {{> NewTripModal}} -->
</template>

<template name="PrintTrip">
	{{#with data}}
		<div class="col-xs-3 trip">
			<div class="brand">
				<span>
					{{ parseInt stats.distance }}&nbsp;<small>km</small>
				</span>
			</div>
			<div class="title">
				{{#if isTrullyMineTrip}}
					{{#linkTo route='edit-trip'}}
						{{ name }}
					{{/linkTo}}
				{{else}}
					{{#linkTo route='show-trip' data=comradeTripData}}
						{{ name }}
					{{/linkTo}}

					{{!-- {{#if isComradeTrip}}
						{{#linkTo route='show-trip' data=comradeTripData}}
							{{ name }}
						{{/linkTo}}
					{{else}}
						{{#linkTo route='show-trip' data=publicTripData}}
							{{ name }}
						{{/linkTo}}
					{{/if}} --}}
				{{/if}}
			</div>
		</div>
	{{/with}}
</template>

<template name="UserStats">
	<div class="user-stats container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<h2>
					Statystyki tripów
					{{#if showHelpTooltip}}
						<span title="Statystyki obliczane są tylko dla opublikowanych podróży." data-toggle="tooltip">
							<span class="glyphicon glyphicon-question-sign"></span>
						</span>
					{{/if}}
				</h2>
			</div>
		</div>
		<div class="row">
			{{#if anyStatsMakesSense}}
				{{#if distanceMakesSense}}
					<div class="col-xs-4">
						<div>
							<img src="/drawings/odleglosc.png">
							<div class="value">{{ distance }} <small>km</small></div>
						</div>
					</div>
				{{/if}}
				{{#if durationMakesSense}}
					<div class="col-xs-4">
						<div>
							<img src="/drawings/dni.png">
							<div class="value">{{ duration }} <small>dni</small></div>
						</div>
					</div>
				{{/if}}
				{{#if distanceDivDurationMakesSense}}
					<div class="col-xs-4">
						<div>
							<img src="/drawings/kmdzien.png">
							<div class="value">{{ distanceDivDuration }} <small>km</small></div>
						</div>
					</div>
				{{/if}}
				{{#if waitingTimeMakesSense}}
					<div class="col-xs-4">
						<div>
							<img src="/drawings/czas.png">
							<div class="value">{{ waitingTime }}</div>
						</div>
					</div>
				{{/if}}
				{{#if co2MakesSense}}
					<div class="col-xs-4">
						<div>
							<img src="/drawings/spaliny.png">
							<div class="value">{{ co2 }} <small>CO<sub>2</sub></small></div>
						</div>
					</div>
				{{/if}}
				{{!--
				<div class="col-xs-4">
					<div>{{ drivers }}</div>
				</div>
				--}}
			{{else}}
				<div class="col-xs-12">
					Opublikuj swoją pierwszą trasę by uzyskać dostęp do statystyk!
				</div>
			{{/if}}
		</div>
		{{!-- <div class="row">
			<div class="col-xs-12">
				<h4>
					W poszczególnych krajach...
				</h4>
				<table class="table">
					<tbody>
						{{#each countries}}
							{{#with this}}
								<tr>
									<td>{{ countryName }}</td>
									<td>{{ countryDistance }}</td>
								</tr>
							{{/with}}
						{{/each}}
					</tbody>
				</table>
			</div>
		</div> --}}
	</div>
</template>

<template name="NewTripModal">
	<div class="modal fade" id="new-trip-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<form id="new-trip-form">
						<div class="form-group">
							<label for="name">Nazwa</label>
							<input type="text" class="form-control trip-name" placeholder="Nazwij tripa">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="cancel-adding" data-dismiss="modal">Anuluj</button>
					<button type="button" class="btn btn-success" id="new-trip">Dodaję nowy trip</button>
				</div>
			</div>
		</div>
	</div>
</template>