<template name="EditTrip">
	<div class="container-fluid edit-trip-container">
		<div class="row">
			<div class="col-xs-8 map-area">
				<div id="map-canvas"></div>
			</div>
			<div class="col-xs-4 options-area">
				<div class="option-header">
					<div class="options-container">
						<div class="back-button">
							<a href="/">
								<span class="glyphicon glyphicon-align-justify"></span>
							</a>
						</div>
						<div class="title">
							<span id="name-box">
								<span class="name-show">{{ name }}</span>
								<input class="name-edit" type="text" value="{{ name }}" style="display: none;" />
							</span>
							<small class="text-muted">({{ parseInt stats.distance }} km)</small>
						</div>
					</div>
				</div>
				<div class="timeline-container">
					<div class="timeline">
						<div class="begin"></div>
						{{#each points}}
							<div class="point point-{{ type }}">
								<div class="point-badge">
									{{{ pointTypeHtml }}}
								</div>
								<div class="point-name">
									{{ name }}
									<span class="edit-helpers">
										<a class="point-action point-action-edit btn btn-default btn-xs" data-toggle="modal" data-target="#edit-point-modal">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
										<a class="point-action point-action-remove btn btn-default btn-xs">
											<span class="glyphicon glyphicon-remove"></span>
										</a>
									</span>
								</div>
							</div>
							{{#unless isEnd}}
								<div class="route">
									<div class="route-line">
									</div>
									<div class="route-button">
										<a class="point-action point-action-add btn btn-default btn-xs" data-toggle="modal" data-target="#new-point-modal">
											<span class="glyphicon glyphicon-plus"></span>
										</a>
									</div>
									<div class="route-stats-container">
										<div class="route-stats">
											<small class="text-muted">{{ parseInt route.stats.distance }} km</small>
										</div>
									</div>
								</div>
							{{/unless}}
						{{/each}}
						<div class="end"></div>
						<br>
						<br>
						<br>
						<button class="btn btn-primary" id="new-point-button" data-toggle="modal" data-target="#new-point-modal">
							Dodaj nowy punkt
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{> AddPointModal}}
	{{> EditPointModal}}
</template>

<template name="AddPointModal">
	<div class="modal fade" id="new-point-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title"><span class="glyphicon glyphicon-map-marker"></span> Dodaj nowy punkt na trasie</h4>
				</div>
				<div class="modal-body">
					{{#if atLeastOnePoint}}
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-12">
									<label for="insert-position">Umieść ten punkt za</label>
									{{#each points}}
										{{#if isSelected}}
											<input type="text" class="form-control" value="{{ name }}" disabled />
										{{/if}}
									{{/each}}
								</div>
							</div>
						</div>
					{{/if}}

					{{> ModalPointCommonContents}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="cancel-adding" data-dismiss="modal">Anuluj</button>
					<button type="button" class="btn btn-primary" id="new-point" data-dismiss="modal">Dodaję!</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="EditPointModal">
	<div class="modal fade" id="edit-point-modal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title"><span class="glyphicon glyphicon-map-marker"></span> Edytuj punkt</h4>
				</div>
				<div class="modal-body">
					{{> ModalPointCommonContents}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" id="cancel-editing" data-dismiss="modal">Anuluj</button>
					<button type="button" class="btn btn-primary" id="edit-point" data-dismiss="modal">Jest ok</button>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="ModalPointCommonContents">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<label for="name" class="divider">Nazwa miejsca <span class="important">*</span></label>
				<select class="trip-name">
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label class="divider">Typ punktu <span class="important">*</span></label>
			</div>
		</div>
		<div class="row point-type-selector">
			<div class="col-xs-4">
				<input type="radio" name="point-type" value="normal" checked><br>
				<span class="badge badge-normal">
					<span class="glyphicon glyphicon-map-marker"></span>
				</span>
			</div>
			<div class="col-xs-4">
				<input type="radio" name="point-type" value="tent"><br>
				<span class="badge badge-tent">
					<span class="glyphicon glyphicon-flag"></span>
				</span>
			</div>
			<div class="col-xs-4">
				<input type="radio" name="point-type" value="house"><br>
				<span class="badge badge-house">
					<span class="glyphicon glyphicon-home"></span>
				</span>
			</div>
		</div>
	</div>
</template>