<template name="ShowTrip">
	{{> StaticTopBar}}

	{{> RouteHead}}

	{{> RouteBody}}

	{{> RouteStats}}

	{{> FbComments}}

	<div class="container-fluid footer">
		<div class="row">
			<div class="col-xs-12">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							stopka
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="RouteHead">
	<div class="container-fluid paper">
		<div class="row">
			<div class="col-xs-12">
				<div class="container show-trip-container">
					<div class="row">
						<div class="col-xs-6">
							<div id="map-canvas"></div>
						</div>
						<div class="col-xs-6">
							<h2 style="margin-top: 0px">
								{{ name }}
							</h2>
							<small>{{ user._id }}</small>
							<div>
								{{ duration }} dni<br>
								{{ parseInt stats.distance }} km, w {{ driversCount }} przejazdach<br>
								{{ distanceDivDuration }} km / dzień<br>
								{{ sumaricWaitingTime }} łapania stopa<br>
								{{ co2 }} CO2 zaoszczędzone dzięki autostopowi
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="RouteBody">
	<div class="container-fluid paper">
		<div class="row">
			<div class="col-xs-12">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 show-timeline">
							<table style="">
								{{#each points}}
									<tr>
										<td class="route-desc">
											{{#unless isEnd}}
												{{> RB_RouteDesc}}
											{{/unless}}
										</td>
										<td class="middle" style="">
											<div class="point point-{{ type }}">
												<div class="point-badge">
													{{{ pointTypeHtml }}}
												</div>
											</div>
											{{#unless isEnd}}
												<div class="route" style="min-height: {{ logLength route.stats.distance }}px;">
												</div>
											{{/unless}}
										</td>
										<td class="point-desc">
											{{> RB_PointDesc}}
										</td>
									</tr>
								{{/each}}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="RB_PointDesc">
	<div>
		<h4>
			{{ name }}
		</h4>
	</div>
	<div>
		<h5>
			{{ desc.text }}
		</h5>
	</div>
	<div>
		<div class="container-fluid image-files">
			<div class="row">
				{{#each valueify desc.pictures}}
					<div class="col-xs-3 image-file-cell">
						<div class="fancybox-container">
							<div href="{{ value }}" class="fancybox-image">
								<img src="{{ value }}" />
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>

<template name="RB_RouteDesc">
	<div>
		<h4>
			{{ parseInt route.stats.distance }} km <small>(czekałem: {{ parseDuration route.waitingTime }})</small>
		</h4>
	</div>
	<div>
		<h5>
			{{ route.desc.text }}
		</h5>
	</div>
	<div>
		<div class="container-fluid image-files">
			<div class="row">
				{{#each valueify route.desc.pictures}}
					<div class="col-xs-3 image-file-cell">
						<div class="fancybox-container">
							<div href="{{ value }}" class="fancybox-image">
								<img src="{{ value }}" />
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>

<template name="FbComments">
	<div class="container-fluid paper">
		<div class="row">
			<div class="col-xs-12">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							komentarze
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="RouteStats">
	<div class="container-fluid paper">
		<div class="row">
			<div class="col-xs-12">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							statystyki
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>