<template name="ShowTrip">
	<div id="map-affix-container">
		<div id="map-affix-canvas"></div>
	</div>

	{{> StaticTopBar}}

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 style="margin: 0px">
					{{ name }}
				</h2>
			</div>
		</div>
	</div>

	<div class="container show-trip-container">
		<div class="row">
			<div class="col-xs-8">
				<div id="map-canvas"></div>
			</div>
			<div class="col-xs-4">
				info
			</div>
		</div>
	</div>
	<div class="container" id="route-desc">
		<div class="row">
			<div class="col-xs-12">
				<div class="timeline-container">
					<div class="timeline">
						<div class="begin"></div>
						{{#each points}}
							<div class="point point-{{ type }}">
								<div class="point-badge">
									{{{ pointTypeHtml }}}
								</div>
							</div>
							<div>
								<div class="point-name">
									<div>
										{{ name }}
									</div>
									<div>
										{{ desc.text }}
									</div>
									<div class="container-fluid" style="padding: 0px;">
										<div class="row">
											{{#each valueify desc.pictures}}
												<div class="col-xs-3">
													<div href="{{ value }}" class="fancybox-image">
														<img src="{{ value }}" />
													</div>
												</div>
											{{/each}}
										</div>
									</div>
								</div>
							</div>
							{{#unless isEnd}}
								<div class="route" style="min-height: {{ logLength route.stats.distance }}px;">
									<div class="route-line">
									</div>
									<div class="route-button">
									</div>
									<div class="route-stats-container">
										<div class="route-stats">
											<small class="text-muted">{{ parseInt route.stats.distance }} km</small>
										</div>
									</div>
								</div>
							{{/unless}}
						{{/each}}
						<div class="end"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12" style="background-color: green;">
				statystyki
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" style="background-color: blue;">
				stopka
			</div>
		</div>
	</div>
</template>