<template name="StaticTopBar_NoUnderlay">
	<nav class="navbar navbar-default navbar-static-top"> <!-- {{#if currentUser}} navbar-inverse {{/if}} -->
		<div class="container">
			<div class="navbar-header">
				{{#linkTo route='index' class='navbar-brand'}}
					<img src="/small_logo.png" />
				{{/linkTo}}
			</div>

			{{#if currentUser}}
				<ul class="nav navbar-nav">
					<li>
						{{#linkTo route='dashboard' class='text-uppercase'}}
							moje trasy
						{{/linkTo}}
					</li>
					<li class="disabled">
						<a href="#" class="text-uppercase" disabled="disabled">
							wskazówki
						</a>
					</li>
					<li class="disabled">
						<a href="#" class="text-uppercase" disabled="disabled">
							list
						</a>
					</li>
					<li class="disabled">
						<a href="#" class="text-uppercase" disabled="disabled">
						ubezpieczenie
						</a>
					</li>
					<li>
						{{#linkTo route='buy-book' class='text-uppercase'}}
							książeczka
						{{/linkTo}}
					</li>
				</ul>
			{{/if}}

			<ul class="nav navbar-nav navbar-right">
				{{> loginButtons}}
			</ul>
		</div>
	</nav>
</template>

<template name="StaticTopBar">
	{{!--
	{{> StaticTopBar_NoUnderlay}}

	<div class="navbar-top-underlay">
		&nbsp;
	</div>
	--}}
	{{> NavbarMenu}}
</template>