<template name="UploaderContainer">
	<div class="file-upload-underlay">
		<form method="POST" enctype="multipart/form-data" class="file-upload">
	        <div class="fileUpload btn btn-default">
	        	{{#if customProfilePhotoContent}}
	        		<img src="{{ currentUser.profile.photo }}" class="img-responsive" />
	        	{{else}}
				    <span>
				    	Dodaj zdjęcie
				    </span>
			    {{/if}}
			    <input type="file" class="jqUploadclass" data-form-data='{{ submitData }}' />
			</div>
	    </form>
	</div>
</template>